img {
    position: relative;
    top:450px;
    left: 1000px;
    max-height: 600px;
}

h1{
    font-family: "billo", sans-serif;
    position:relative;
    top: -300px;
    left: 100px;
}

.virk{
    background-color: #fbf6ec;
    height: 1500px;
}

p{
    font-family: "billo", sans-serif;
    font-size: 20px;
    display: flex;
    max-width: 900px;
    position:relative;
    top: -150px;
    left: 50px;
}