
<div class="home">

<p>PROSJEKTER</p>

<img src="../../assets/img/house1.png">

<div class="blue">

</div>
<p class="leilighet">Leilighet i Torrevieja</p>
<p class="torre">Soverom: 2, Baderom: 2, Eiendomsstatus: Nybygg, Svømmebasseng: ja...</p>
<p class="pris">Pris € 249.000</p>

<div class="blue2">

</div>
<p class="leilighet2">Villa i Dolores</p>
<p class="torre2">Soverom: 3, Baderom: 2, Eiendomsstatus: Nybygg, Svømmebasseng: ja...</p>
<p class="pris2">Pris € 288.000</p>

<img class="img2" src="../../assets/img/img2.png">


</div>


