.home {
    background-color: #fbf6ec;
    position:relative;
    top: -58px;
    width: 100vw;
    height: 100vh;
}

p {
    font-family: "billo", sans-serif;
    font-size: 50px;
    position:relative;
    top: 150px;
    left: 150px;
}

img {
    height: 200px;
    position:relative;
    top:220px;
    left: 200px;
    cursor: pointer;
    z-index: 100;
}

.blue {
    background-color: #054263;
    width: 100%;
    height: 400px;
    position: relative;
    top:-70px;
    cursor: pointer;
}

.leilighet {
    position: relative;
    z-index: 100;
    top: -450px;
    left: 500px;
    color: white;
    font-family: "billo", sans-serif;
    text-decoration: underline;
    cursor: pointer;
}

.torre {
    font-size: 20px;
    z-index: 100;
    top: -450px;
    left: 500px;
    color: white;
    font-family: "billo", sans-serif;
    cursor:pointer;
}

.pris{
    font-size: 30px;
    z-index: 100;
    top: -440px;
    left: 500px;
    color: white;
    font-family: "billo", sans-serif;
    text-decoration: underline;
    cursor: pointer
}

.img2 {
    height: 200px;
    position:relative;
    top:-750px;
    left: 100px;
    cursor: pointer;
    z-index: 1000;
}

.blue2 {
    background-color: #054263;
    width: 100%;
    height: 400px;
    position: relative;
    top:-170px;
    cursor: pointer;
}

.leilighet2 {
    position: relative;
    z-index: 100;
    top: -550px;
    left: 500px;
    color: white;
    font-family: "billo", sans-serif;
    text-decoration: underline;
    cursor: pointer;
}

.torre2 {
    font-size: 20px;
    z-index: 100;
    top: -550px;
    left: 500px;
    color: white;
    font-family: "billo", sans-serif;
    cursor:pointer;
}

.pris2{
    font-size: 30px;
    z-index: 100;
    top: -540px;
    left: 500px;
    color: white;
    font-family: "billo", sans-serif;
    text-decoration: underline;
    cursor: pointer
}

