img{
    max-height: 400px;
    position:relative;
    left: 150px;
    margin: 20px 20px 20px 20px;
}

ul{
    margin: 0;
  padding: 0;
  overflow: hidden;
}

p{
    text-align: center;
    display: block;
    padding: 10px 125px;
    word-spacing: 10px;
    float: left; 
    position: relative;
    left: 150px;
}